.Foot3{
   
align-items: flex-start;


position: absolute;
width: 200px;
height: 74px;
top:450px;
left:50%;
margin-top: 20px;


}

.Foot3 h3{
    width: 250px;
height: 24px;

/* h6 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* second-text-color */

color: #737373;
}